@import "tailwindcss";

@layer components {
    .card  {
        @apply bg-purple-800/80 hover:bg-purple-800/30 backdrop-blur-sm border border-purple-500/80 rounded-xl p-6 transition-all;
    }

    .icon {
        @apply bg-gradient-to-r from-pink-500 to-purple-500 w-12 h-12 rounded-full flex items-center justify-center
    }

    .number {
        @apply absolute -top-4 -left-4 bg-gradient-to-r from-pink-500 to-purple-500 w-8 h-8 rounded-full flex items-center justify-center font-bold
    }

    .overlay-center {
        @apply flex h-screen items-center justify-center;
    }

    .overlay-box {
        @apply bg-purple-800/80 backdrop-blur-sm border border-purple-500/80 p-8 rounded-lg shadow-lg text-center text-white;
    }

    .btn-primary {
        @apply bg-gradient-to-r from-pink-500 to-purple-500
                hover:from-pink-600 hover:to-purple-600
                text-white px-6 py-2 rounded-full flex items-center justify-center
                shadow-lg shadow-purple-500/20 disabled:opacity-50;
    }

    .btn-secondary {
        @apply bg-purple-800/80 hover:bg-purple-700 border border-purple-500/50 
                text-white px-6 py-2 rounded-full flex items-center justify-center 
    }

    .select-field {
        @apply bg-purple-900/80 border border-purple-500/50
               text-white rounded-lg py-2 pl-3 pr-10 w-full
                appearance-none focus:ring-2 focus:ring-pink-500 focus:border-transparent;
    }

    .markdown-content {
        @apply text-white;
    }

    .markdown-content p {
        @apply my-2;
    }

    .markdown-content ul, .markdown-content ol {
        @apply ml-4 my-2;
    }

    .markdown-content li {
        @apply my-1;
    }

    .markdown-content strong {
        @apply font-bold text-pink-300;
    }

    .markdown-content em {
        @apply italic text-purple-300;
    }

    .markdown-content code {
        @apply bg-purple-900/50 px-1 rounded text-pink-300;
    }

    .markdown-content h1, .markdown-content h2, .markdown-content h3 {
        @apply font-bold text-pink-400 mt-3 mb-2;
    }

}